* {
    border: 2px solid yellow;
}


.home {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-color: rgb(247, 247, 249);
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-color: rgb(247, 247, 249);
    font-size: 1.1em;
}



.resources-content {
    background-color: rgb(198,0,0);
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #888888;
    color: white;
    transition: 0.5s;
    left: -28px;
}

.resources-content:hover {
    background-color: rgb(198,0,0);
    box-shadow: 5px 5px 5px #888888;
    color: black;
    scale: 1.02;
}


.resources-content:hover a{
    color: black;
}


.header {
    font-family: arial,sans-serif;
    display: flex;
    /* flex-direction: row; */
    align-items: left;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(50,50,50);
    width: fill;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
    color: white;
}

#head_sample{
    justify-content: space-between;
}

.lab-name-header {
    font-size: 2.5em;
}

.header-discription {
    font-size: smaller;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 1rem;
}


.ResearchFocus-outer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ResearchFocus {
    width: 60%;
    background-color: rgb(247, 247, 249);
}

.ResearchFocus img {
    margin: 10px;
}

.ResearchFocus ::after{
    content: "";
    display: table;
    clear: both;
}

.ResearchFocusText {
    font-size: 1.1em;
    text-align: center;
}

.Research-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: black;
}

.Research {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}


h1{
    font-size: 2em;
    font-family: arial,sans-serif;
    color: red;
}



.Openings-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: black;
}

.Openings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.resources-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: black;
    /* background-color: red; */
}

.resources {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    width: 60%;
}


.resources-content a {
    color: white;
    /* text-decoration: none; */
}

.link-button{
    background-color: rgb(198,0,0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(100, 0, 0);
}

.link-button:hover {
    background-color: rgb(150, 0, 0);
    /* color: black; */
}

.link-button a{
    color: white;
    text-decoration: none;
}

.Research-topic-collapsible{
    background-color: rgb(198,0,0);
    color: white;
    cursor: pointer;
    padding: 18px;
    position: relative;
    left: -28px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #888888;
    margin: 10px;
}

.Research-topic-collapsible:hover {
    background-color: rgb(198,0,0);
    box-shadow: 5px 5px 5px #888888;
    color: black;
    scale: 1.02;
}

.Research-topic-collapsible a{
    color: white;
}

.Research-topic-collapsible:hover a{
    color: black;
}

.Research-abstract{
    padding: 0 18px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    box-shadow: 3px 3px 4px #888888;
    text-align: left;
}

.collapsible button{
    border: none;
    outline: none;
}